<template>
  <div class="mf-home-container">
    <div class="mf-container">
      <h3 id="our-history">Nossa história</h3>
      <p>
        Quando fazemos algo que amamos, atraimos pessoas e oportunidades
        semelhantes naturalmente...
      </p>
      <p>
        Pode até parecer um conto, mas foi assim que aconteceu, de forma
        espontânea. Em mais um dia que parei no parque Ibirapuera para
        descansar, pouco tempo depois vêm uma pessoa (de bike) perto de mim,
        puxando assunto sobre o lago do parque, se lá havia peixes...
      </p>
      <p>
        Começamos a conversar e ele sempre tentando incluir uma outra pessoa que
        estava por perto, também descansando, até o momento que ela comecou a
        participar do assunto...
      </p>
      <p>
        Ele começou a contar um pouco de sua história e do quanto a bicicleta
        tinha mudado sua vida, saúde física e mental. A outra pessoa também era
        apaixonada por andar de bike e logo ele sugeriu de montarmos um grupo de
        pedal. Uma outra pessoa, de longe, estava prestando atenção em nossa
        conversa e logo foi incluida nos planos do grupo que ali surgia...
      </p>
      <p>
        O homem que havia me abordado com assunto de peixes no lago do
        Ibirapuera, de alguma forma havia nos unido, tinha recentemente perdido
        seu celular, anotei meu número em um papel para ele me chamar assim que
        comprasse um novo, porém nunca mais vimos ele...
      </p>
      <p>
        O ponto de encontro se tornou o portão 9 do Ibirapuera, pois foi lá que
        conhecemos o Tom, na esperança de um dia reencontrá-lo por lá. O nome do
        grupo também se tornou uma homenagem à ele, Tom do Pedal...
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "HomeAppVue",
});
</script>
