body {
  font-family: Arial, Helvetica, sans-serif;
}

.mf-home-container {
  font-size: 1rem;
  background-color: #35373a;
}

.mf-home-container h3 {
  font-size: 3rem;
}

.mf-home-container .mf-container {
  color: white;
}